.container {
  display: grid;
  grid-template-columns: repeat(10, 1.5rem);
  grid-template-rows: repeat(10, 1.5rem);
  gap: 1px;
  user-select: none;
}

.box {
  outline: 1px solid blue;
  height: 1.5rem;
}

.ship {
  outline: 2px solid blue;
  height: 1.5rem;
  cursor: move;
  background-color: rgba(0, 0, 255, 0.164);
  // position: absolute;
}

.shipsContainer {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}